<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610582710844-lq51rf6cujsh6a41cq9lfatvab8n4hsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610582710844-lq51rf6cujsh6a41cq9lfatvab8n4hsk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYb-nqGmTniJlPUooL35xmCaONrGTqtCU</string>
	<key>GCM_SENDER_ID</key>
	<string>610582710844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pet.vaccines</string>
	<key>PROJECT_ID</key>
	<string>my-pet-vaccines</string>
	<key>STORAGE_BUCKET</key>
	<string>my-pet-vaccines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610582710844:ios:9b48b5c24e57d1a1e5d139</string>
</dict>
</plist>